<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buscar</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Buscar"></app-explore-container>
</ion-content>
<ion-footer>
  <ion-toolbar id="play-bar">
    <ion-badge slot="start" color="light">
      <img src="../../../assets/icon/favicon.png" />
    </ion-badge>

    <ion-title>Tocando música...</ion-title>
    <span>Artista tal</span>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>